<%- include('../layout/header') %>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Add New Product</h2>
        <form action="/addProduct" method="post" id="add-form"class="custom-form">
            <div class="form-group">
                <label for="title">Name</label>
                <input type="text" name="title" class="form-control custom-input" id="title" placeholder="Enter name" required>
            </div>
            <div class="form-group">
                <label for="size">Size</label>
                <input type="text" name="size" class="form-control custom-input" id="size" placeholder="Enter size" required>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" name="price" class="form-control custom-input" id="price" placeholder="Enter price" required>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" name="category" class="form-control custom-input" id="category" placeholder="Enter category" required>
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input type="text" name="color" class="form-control custom-input" id="color" placeholder="Enter color" required>
            </div>
            <div class="form-group">
                <label for="ram">Ram</label>
                <input type="text" name="ram" class="form-control custom-input" id="ram" placeholder="Enter ram" required>
            </div>
            <div class="form-group">
                <label for="product_image">Image URI</label>
                <input type="text" name="product_image" class="form-control custom-input" id="product_image" placeholder="Enter image URI" required>
            </div>
            <button type="submit" class="btn btn-primary custom-button">Add Product</button>
        </form>
        
    </div>


    <%- include('../layout/footer') %>